/*
#  ____        __ _  
# |  _ \ ___  / _(_) 
# | |_) / _ \| |_| | 
# |  _ < (_) |  _| | 
# |_| \_\___/|_| |_| 
#                    
# by Stephan Raabe (2023) 
# ----------------------------------------------------- 
*/

@theme "/usr/share/rofi/themes/material.rasi"
